<html>
    <head>
        <title>Mini-Engine</title>
        {{ map.header.render|safe }}
        <style>
            .header{
                height: 10%;
                background-color: rgb(146, 212, 214);
                text-align: center;
                font-size: 40px;
            }
            .content{
                margin-top: 2px;
                margin-right: 0px;
                height: 85%;
            }
            .detail{
                background-color: rgb(158, 149, 143);
                height: 100%;
            }
        </style>
    </head>

    <body>
        <div class="header">
            <b>Mini-Engine</b>
        </div>
        <div class="content">
            <div class="col-lg-3 detail">
                DETAILS HERE
            </div>
            <div class="col-lg-9">
                {{ map.html.render|safe }}
            </div>
        </div>
        
        <script>
            {{ map.script.render|safe }}
        </script>
    </body>
</html>
